.container {
    max-width: 400px;
    background: rgb(205, 238, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;


}

.searchContainer {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inputField {
    padding: 10px;
    width: 70%;
    border: 1px solid #b5b3b7;
    border-radius: 5px;
}

.searchBtn {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#weatherContainer {
    display:none;
}

#errorMessage {
    color: red;
    font-weight: bold;
}